
@font-face {
    font-family: 'dredd';
    src: 
        url(./css/dredd/dredd.otf);
}
@font-face {
    font-family: 'roboto';
    src: url(./css/Roboto/Roboto-Bold.ttf) ;
}
@font-face{
    font-family: 'oswald';
    src: url(./css/Oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(./css/Montserrat/Montserrat.ttf);
}
/*font*/
.font-dredd{
    font-family: "dredd";
    color: red;
   
}
.font-honk{
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    color: blue;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}
.font-roboto{
    font-family: 'roboto';
    font-size: x-large;
    color: white;
}


/*font end*/

/*general*/
.navbar {
    font-family: "roboto"; 
}
.title{
    font-family: 'roboto';
    font-size: 48px;
    color: white;
}
.hide{
    display: none;
}


/*specific*/
#body-index {
    /*background:hsl(268, 92%, 65%) ;*/
    background-image: url("./css/LogoFull.jpg") ; 
    background-repeat: no-repeat ;
    background-position: top ;
    background-size: cover ;
    
}
#home .container{
    min-width: 100%;
    min-height: 100%;
}
#main-logo{
    display: none;
    border-radius: 50%;
}
#home p{
    color: white;
    font-weight: 300;
}
#home .btn-outline-info{
    background: white(268, 92%, 70%) ;
}

#mainlogo {
    max-width: 50%; /* Ensure the logo doesn't exceed its container */
    width: 30%; /* Adjust as needed */
    height: auto;
    display: block; /* Center the image horizontally */
    position: absolute;
    top: 200px; /* Adjust the margin-top value to move the logo down */
    right: 7%;
    
}

  