
@font-face {
    font-family: 'dredd';
    src: 
        url(./css/dredd/dredd.otf);
}
@font-face {
    font-family: 'roboto';
    src: url(./css/Roboto/Roboto-Bold.ttf) ;
}
@font-face{
    font-family: 'oswald';
    src: url(./css/Oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(./css/Montserrat/Montserrat.ttf);
}
/*font*/
.font-dredd{
    font-family: "dredd";
    color: red;
   
}
.font-honk{
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    color: blue;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}
.font-roboto{
    font-family: 'roboto';
    font-size: x-large;
    color: white;
}


/*font end*/

/*general*/
.navbar {
    font-family: "roboto"; 
}
.title{
    font-family: 'roboto';
    font-size: 48px;
    color: white;
}
.hide{
    display: none;
}


/*specific*/
#body-index {
    /*background:hsl(268, 92%, 65%) ;*/
    background-image: url("./css/LogoFull.jpg") ; 
    background-repeat: no-repeat ;
    background-position: top ;
    background-size: cover ;
    
}
#home .container{
    min-width: 100%;
    min-height: 100%;
}
#main-logo{
    display: none;
    border-radius: 50%;
}
#home p{
    color: white;
    font-weight: 300;
}
#home .btn-outline-info{
    background: white(268, 92%, 70%) ;
}

#mainlogo {
    max-width: 30vw; /* Set a maximum width for the logo */
    width: 30vw; /* Set the initial width of the logo */
    height: auto; /* Maintain aspect ratio */
    display: inline-block; /* Display the logo inline with text */
    position: absolute; /* Position the logo absolutely */
    top: 200px; /* Reset top position */
    right: 150px; /* Adjust the distance from the right side of its container */
}

/* Media query for adjusting the logo size on smaller screens */
@media (max-width: 768px) {
    #mainlogo {
        width: 30%; /* Adjust the width for smaller screens */
        right: 5px; /* Adjust the distance for smaller screens */
        position: absolute; /* Change position to relative for smaller screens */
        top: auto; /* Reset top position for smaller screens */
    }
}

