
@font-face {
    font-family: 'dredd';
    src: 
        url(./css/dredd/dredd.otf);
}
@font-face {
    font-family: 'roboto';
    src: url(./css/Roboto/Roboto-Bold.ttf) ;
}
/*font*/
.font-dredd{
    font-family: "dredd";
}
.font-honk{
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}
.font-roboto{
    font-family: 'roboto';
}

/*font end*/

/*general*/
.navbar {
    font-family: "roboto"; 
}
.title{
    font-family: 'roboto';
    font-size: 48px;
    color: hsl(271, 80%, 30%);
}
.hide{
    display: none;
}


/*specific*/
#body-index {
    /*background:hsl(268, 92%, 65%) ;*/
    background-image: url("./css/back.jpg") ;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100%;

}
#home .container{
    min-width: 100%;
    min-height: 100%;
}
#main-logo{
    display: none;
    border-radius: 50%;
}
#home p{
    color: white;
    font-weight: 300;
}
#home .btn-outline-info{
    background: white(268, 92%, 70%) ;
}


  